{% extends "layout.njk" %}

{% block head %}
    <script src="/scripts/socket.io.js"></script>
    <script src="/scripts/chat.js"></script>
{% endblock head %}

{% block content %}
    <div class="card">
        <div class="chat">

            <div class="left-column">
                <div class="messages">

                </div>
                
                <div class="send-message">
                    <input type="text" name="message" placeholder="Digite sua mensagem...">
                    <button type="submit">Enviar</button>
                </div>
            </div>

            <div class="right-column">
                <div class="connected-users">
                    <!--<div class="user">Anderson</div>
                    <div class="user">Julian</div>
                    <div class="user">Matheus (você)</div>-->
                </div>
            </div>

        </div>
    </div>

    <script src="/scripts/socket.js"></script>
{% endblock content %}