{% extends "layout.njk" %}

{% block content %}
    <div class="card initial">
        <h1>Informe o seu nome de exibição do chat</h1>
        <form action="/name" method="POST">
            <input type="text" name="name">
            <div class="button-container">
                <button type="submit">Escolher nome</button>
            </div>
        </form>
    </div>
{% endblock content %}