div.card {
    padding: 32px 24px;
    margin: 32px auto;

    border: 1px solid rgba(119, 119, 119, 0.157);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.445);
    border-radius: 4px;
}

div.card.initial {
    max-width: 450px;
}

div.card.initial h1 {
    font-size: 18px;
}

div.card.initial > h1,
div.card.initial > form > input {
    margin-bottom: 8px;
}

div.card.initial > form > .button-container {
    display: flex;
    justify-content: flex-end;
}