div.card {
    padding: 32px 24px;
    margin: 32px auto;

    border: 1px solid rgba(119, 119, 119, 0.157);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.445);
    border-radius: 4px;
}

div.card.initial {
    max-width: 450px;
}

div.card.initial h1 {
    font-size: 18px;
}

div.card.initial > h1,
div.card.initial > form > input {
    margin-bottom: 8px;
}

div.card.initial > form > .button-container {
    display: flex;
    justify-content: flex-end;
}

div.card.rooms {
    width: 40%;
    min-width: 700px;
}

form.create-room {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 20px;
}

form.create-room * {
    font-size: 12px;
}

@media(max-width: 800px) {
    div.card {
        padding: 32px 24px;
        margin: 32px auto;

        border: none;
        box-shadow: none;
        border-radius: 4px;
    }

    div.card.rooms {
        width: 100%;
        min-width: initial;
    }
}