div.chat {
    display: flex;
    height: 60vh;
}

div.chat > div {
    margin-right: 5px;
}

div.chat div.left-column {
    flex-basis: 70%;
    display: grid;
    grid-template-rows: 1fr 70px;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

div.chat div.right-column {
    flex-basis: 30%;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

div.chat .messages {
    max-height: 60vh;
    overflow-y: scroll;
}

div.messages,
div.connected-users {
    padding: 16px;
}

div.connected-users > div {
    margin-bottom: 2px;
    padding: 4px 12px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(119, 119, 119, 0.246);
    font-weight: bold;
}

div.messages > div {
    margin-bottom: 14px;
}

div.message {
    position: relative;

    width: 100%;
    padding: 14px 8px;
    border-radius: 4px;
    font-size: 18px;
}

div.message.received {
    background-color: rgb(115, 164, 255);
}

div.message.sent {
    background-color: rgb(180, 206, 255);
}

div.message .name {
    position: absolute;
    top: -10px;
    left: 14px;

    padding: 2px 4px;
    background-color: rgb(209, 226, 255);
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
}

div.message .time {
    position: absolute;

    font-weight: bold;
    font-size: 12px;
    right: 3px;
    bottom: 2px;
}

div.send-message {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 10px;
    padding: 16px;
    border-top: 1px solid rgba(119, 119, 119, 0.246);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(115, 164, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c76ff;
  }