<header>
    <div class="logo">
        <div class="first-part">
            <a href="/">node.js</a>
        </div>
        <div class="second-part">
            <a href="/">chat</a>
        </div>
    </div>
</header>